/.phpunit.cache
/node_modules

/public/build
/public/hot
/public/storage
/storage/*.key
/vendor

# .env
.env.backup
.env.production
.phpunit.result.cache

docker-compose.override.yml

Homestead.json
Homestead.yaml
npm-debug.log
/package-lock.json
yarn-error.log
yarn.lock
package-lock.log
/.idea
/.vscode

/public/css
/public/js
/public/mix-manifest.json
# But not these files...
!/public/assets/*
/public/assets/js
/public/assets/css
/public/assets/vendor
